*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background-color: ivory;
}

.menu-btn{
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 80px;
     height: 80px;
     cursor: pointer;
     transition: all .5s ease-in-out;
     border: 3px solid #000;
 }