/* style for the NTB table database */
body{
    background-color:white;
    text-align: center;
}

h1{
    margin-bottom: 0;
    padding-bottom: 0;
}


.thead{
    background-color: gainsboro;
}

tr{
    text-align: center;
}

.maintables{
text-align: center;
}


table tr td{
    padding: 5px;
}

#error{/*error from the client*/
    color: red;
}

#addField{
    margin-top: .3em;

}
#reload{
    height: 10px;
    width: 10px;
}
#addF{
    margin: 0;
    padding: 0;
    max-width: 100%
}
.hidden{
    visibility: hidden;
    /*visibility: visible;*/
}
.addoverflow{/*for the addField to scroll*/
    overflow: auto;
}
.derror{/*error from the database*/
    color: red;
}